/* Variables */
:root {
  --background-section: gray;
}

* {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

/* Globals */
html {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.unstyled-list {
  list-style: none;
}

.navigation-list li a {
  font-family: "Open Sans";
  color: white;
  text-decoration: none;
}

.navigation-list,
.right-navigation-list {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navigation-list {
  flex-grow: 1;
}

.navigation-list li a:hover {
  color: #ff6c00;
}

.about {
  padding: 120px;
  display: flex;
  gap: 30px;
}

.about .images-container {
  display: flex;
  gap: 30px;
}

.button-container {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}
.details-container {
  width: 470px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-navigation,
.hero-section,
.page-header,
.services {
  background-color: var(--background-section);
}

.logo-holder li{
  color: black;
}

.page-header {
  display: flex;
  margin-left: 155px;
}

.header-container{
height: 300px;
}

.logo-holder{
  position: absolute;
  width: 155px;
  border: 2px solid red;
}

.header-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  
}

.header-container,
.hero-section,
.about .portofolio {
  width: 1170px;
  margin: 0px auto;
}

.portofolio {
  display: flex;
  padding: 129px 70px 120px 30px;
  gap:130px
}

.cards-left-side,
.portofolio-right-side{
  flex: 1 1 50px;
}

.link {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
}

.online-booking-button {
  width: 160px;
  box-sizing: border-box;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: rgba(25, 28, 38, 0.2);
  padding: 12px 20px;
}

.services {
  padding: 120px 215px;
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.services-lists {
  display: flex;
  justify-content: space-between;
}

.our-barbers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-barbers-list {
  display: flex;
  gap: 30px;
}

.our-barbers-list li{
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.social-media-icons{
    display: flex;
    justify-content: center;
}

.social-media-icons ul{
    display: flex;
    gap: 10px;
}

.barber-details{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.icon-list-item{
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  background-color: gray;
  border-radius: 50%;
  align-items: center;

}

.sub-title-section {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: #303030;
}

.title-section {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
  color: #303030;
}

.text-section {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
}

/* HeroSection*/
.hero-sub-title-section {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero-title-section {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero-text-section {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* PortofolioSection*/
.card {
  width: 170px;
  height: 133px;
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
}
 .card:nth-child(2n){
  position: relative;
  top: 35px;
 }

 .card-title::after{
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ff6c00;
  left: 2px;
  top: -26px;
  position: relative;
 }

.card-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.card-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}

.cards-inner{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* OurbarbersSection*/
.our-barbers .image {
  width: 370px;
  height: 346px;
}

.our-barbers .title {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.our-barbers .ocupation {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}
